---
import Layout from '@/layouts/Layout.astro';

type Profile = {
	firstName: string;
	lastName: string;
	country: string;
	occupation: string;
	hobbies: string[];
};

type Skills = string[];

const pageTitle = 'About Me';

const profile: Profile = {
	firstName: 'Hazy',
	lastName: 'Fantayzee',
	country: 'Australia',
	occupation: 'DJ',
	hobbies: ['photography', 'music', 'coding'],
};

const skills: Skills = ['HTML', 'CSS', 'Javascript', 'Astro', 'Svelte', 'SQL'];

const skillColor = 'navy';
const rgbColor = 'rgba(250, 20, 128, 0.8)';
---

<Layout title={pageTitle}>
	<main class="w-full justify-center space-y-5 pt-10 text-center text-cyan-50">
		<h1 class="text-cyan-50">{pageTitle}</h1>
		<div class="px-5">
			<p>
				This site is a code along for the official Astro docs by me, {profile.firstName}
				{profile.lastName}.
			</p>
			<br />
			<p class="mb-2 mt-10">Here are some facts about me:</p>
			<ul>
				<li>I come from {profile.country}</li>
				<li>I currently work as {profile.occupation}</li>
				{
					profile.hobbies.length >= 2 && (
						<li>
							My hobbies are: {profile.hobbies[0]} & {profile.hobbies[1]}
						</li>
					)
				}
			</ul>
			<div class="mt-12">
				<p class="mb-2">My Skills are:</p>
				<ul>
					{skills.map((skill) => <li class="skill">{skill}</li>)}
				</ul>
			</div>
		</div>
	</main>
</Layout>

<style define:vars={{ skillColor, rgbColor }}>
	h1 {
		@apply text-[6rem] text-purple-400;
	}
	ul {
		@apply inline-block list-inside list-disc;
	}
	.skill {
		@apply font-bold text-[var(--rgbColor)];
	}
</style>
