---
import Layout from '@/layouts/Layout.astro';

type Profile = {
	firstName: string;
	lastName: string;
	country: string;
	occupation: string;
	hobbies: string[];
};

type Skills = string[];

const pageTitle = 'About Me';

const profile: Profile = {
	firstName: 'Hazy',
	lastName: 'Fantayzee',
	country: 'Australia',
	occupation: 'DJ',
	hobbies: ['photography', 'music', 'coding'],
};

const skills: Skills = ['HTML', 'CSS', 'Javascript', 'Astro', 'Svelte', 'SQL'];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = 'cyan';
const rgbColor = 'rgba(250, 20, 128, 0.8)';
---

<Layout title={pageTitle}>
	<main class="w-full justify-center space-y-5 pt-10 text-center text-cyan-50">
		<h1 class="text-cyan-50">{pageTitle}</h1>
		<div class="px-5">
			<p>
				This site is a code along for the official Astro docs by me,
				{profile.firstName}
				{profile.lastName}.
			</p>
			<br />
			<p class="mb-2 mt-10">Here are some facts about me:</p>
			<ul>
				<li>I come from {profile.country}</li>
				<li>I currently work as {profile.occupation}</li>
				{
					profile.hobbies.length >= 2 && (
						<li>
							My hobbies are: {profile.hobbies[0]} & {profile.hobbies[1]}
						</li>
					)
				}
			</ul>
			<div class="mt-12">
				<p class="mb-2">My Skills are:</p>
				<ul>
					{skills.map((skill) => <li class="skill">{skill}</li>)}
				</ul>
			</div>
			<div class="mt-5 gap-y-4 text-xl">
				<h5>Conditional Rendering</h5>
				{happy && <p>I'm currently happy</p>}
				{finished && <p>I've finished the tutorial</p>}
				{
					goal === 3 ? (
						<p>My goal is to finish in 3 days</p>
					) : (
						<p>My goal is not to finish</p>
					)
				}
			</div>
		</div>
	</main>
</Layout>

<style define:vars={{ skillColor, rgbColor }}>
	h1 {
		@apply text-[6rem] text-[var(--skillColor)];
	}
	ul {
		@apply inline-block list-inside list-disc;
	}
	p {
		@apply text-sm text-white/50;
	}
	.skill {
		@apply font-bold text-[var(--rgbColor)];
	}
</style>
