---
import Layout from '@/layouts/Layout.astro';
import TagSelector from '@/components/TagSelector.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class="mx-auto max-w-md space-y-5 p-10 text-stone-200">
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <slot />
    <hr class="mx-auto w-[50%]" />
    <h2>Tags:</h2>
    <div class="mt-5 flex flex-wrap justify-center px-10">
      {frontmatter.tags.map((tag) => <TagSelector tag={tag} />)}
    </div>
  </main>
</Layout>
